@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0084b2;
  --color-primary: #0084b2;
  --color-secondary: #1a1a1a;
  --color-background: #ffffff;
  --color-foreground: #1a1a1a;
  --color-textSecondary: #0084b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-textSecondary: var(--color-textSecondary);
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Utility classes */
.text-primaryColor {
  color: #0084b2;
}


.text-secondaryColor {
  color: #1a1a1a;
}

.bg-primaryColor\/20 {
  background-color: #0084b233;
}

.bg-primaryColor {
  background-color: #0084b2;
}

.text-heading {
  color: #1a1a1a;
}

.hover-heading:hover {
  color: #1a1a1a;
}

.text-primaryColor {
  color: #0084b2;
}

.text-headingColor {
  color: #1a1a1a;
}

.hover-text-white:hover {
  color: #ffffff;
}

.bg-primaryColor {
  background-color: #0084b2;
}

.bg-primaryColor\/20 {
  background-color: #0084b233;
}

.bg-baseColor {
  background-color: #ffffff;
}

.border-primaryColor {
  border-color: #0084b2;
}


.border-headingColor {
  border-color: #1a1a1a;
}

.text-baseColor {
  color: #ffffff;
}


@keyframes typing {
  0% {
    width: 3ch;
  }

  50% {
    width: 20ch;
  }

  /* full text length */
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

  100% {
    border-color: #0084b2;
  }
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #0084b2;
  animation: typing 4s steps(20, end) infinite, blink .7s step-end infinite;
  width: 20ch;
}

@media (max-width: 767px) {
  .typing-effect {
    animation: none;
    border-right: none;
    width: auto;
  }
}


/* Blue text → black underline */
.hover-underline-black {
  position: relative;
  display: inline-block;
}

.hover-underline-black::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #1a1a1a;
  transition: width 0.3s ease;
}

.hover-underline-black:hover::after {
  width: 100%;
}

/* Black text → blue underline */
.hover-underline-blue {
  position: relative;
  display: inline-block;
}

.hover-underline-blue::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #0084b2;
  transition: width 0.3s ease;
}

.hover-underline-blue:hover::after {
  width: 100%;
}
